<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.dao.FormatDao" >
  <resultMap id="BaseResultMap" type="com.system.pojo.Format" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="location" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fontSize" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="fontColor" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="indent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="alignment" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, userName, type, location, content, fontSize, fontColor, indent, alignment
  </sql>
  <insert id="insert" parameterType="com.system.pojo.Format" >
    insert into format (id, name, userName, type, location, content, fontSize, fontColor, indent, alignment)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{location,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{fontSize,jdbcType=INTEGER}, 
      #{fontColor,jdbcType=VARCHAR}, #{indent,jdbcType=VARCHAR}, #{alignment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.system.pojo.Format" >
    insert into format
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="fontSize != null" >
        fontSize,
      </if>
      <if test="fontColor != null" >
        fontColor,
      </if>
      <if test="indent != null" >
        indent,
      </if>
      <if test="alignment != null" >
        alignment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="fontSize != null" >
        #{fontSize,jdbcType=INTEGER},
      </if>
      <if test="fontColor != null" >
        #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="indent != null" >
        #{indent,jdbcType=VARCHAR},
      </if>
      <if test="alignment != null" >
        #{alignment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteBySelective" >
    delete from format
    where name = #{0} and userName = #{1}
  </delete>
  <select id="selectBySelective" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from format
    where name = #{0} and userName = #{1}
  </select>
  <select id="selectFormatsByUser" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from format
    where userName = #{userName,jdbcType=VARCHAR}
  </select>
</mapper>