<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.ResultDao" >
  <resultMap id="BaseResultMap" type="com.system.pojo.Result" >
    <constructor >
      <arg column="userName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="formatType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="errLocation" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="context" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="preContext" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="laterContext" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="errType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="errContent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rightContent" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    userName, formatType, errLocation, context, preContext, laterContext, errType, errContent, rightContent
  </sql>
  <insert id="insertSelective" parameterType="com.system.pojo.Result" >
    insert into result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        userName,
      </if>
      <if test="formatType != null" >
        formatType,
      </if>
      <if test="errLocation != null" >
        errLocation,
      </if>
      <if test="context != null" >
        context,
      </if>
      <if test="preContext != null" >
        preContext,
      </if>
      <if test="laterContext != null" >
        laterContext,
      </if>
      <if test="errType != null" >
        errType,
      </if>
      <if test="errContent != null" >
        errContent,
      </if>
      <if test="rightContent != null" >
        rightContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="formatType != null" >
        #{formatType,jdbcType=VARCHAR},
      </if>
      <if test="errLocation != null" >
        #{errLocation,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="preContext != null" >
        #{preContext,jdbcType=VARCHAR},
      </if>
      <if test="laterContext != null" >
        #{laterContext,jdbcType=VARCHAR},
      </if>
      <if test="errType != null" >
        #{errType,jdbcType=VARCHAR},
      </if>
      <if test="errContent != null" >
        #{errContent,jdbcType=VARCHAR},
      </if>
      <if test="rightContent != null" >
        #{rightContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteByUser" parameterType="java.lang.String" >
    delete from result
    where userName = #{userName,jdbcType=VARCHAR}
  </delete>
  <select id="selectResultsByUser" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from result
    where userName = #{userName,jdbcType=VARCHAR}
  </select>
</mapper>