<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.dao.ResultDao" >
  <resultMap id="BaseResultMap" type="com.system.pojo.Result" >
    <constructor >
      <idArg column="errLocation" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="context" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="errType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="errContent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rightContent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userName" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    errLocation, context, errType, errContent, rightContent, userName
  </sql>
  <insert id="insertSelective" parameterType="com.system.pojo.Result" >
    insert into result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="errLocation != null" >
        errLocation,
      </if>
      <if test="context != null" >
        context,
      </if>
      <if test="errType != null" >
        errType,
      </if>
      <if test="errContent != null" >
        errContent,
      </if>
      <if test="rightContent != null" >
        rightContent,
      </if>
      <if test="userName != null" >
        userName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="errLocation != null" >
        #{errLocation,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="errType != null" >
        #{errType,jdbcType=VARCHAR},
      </if>
      <if test="errContent != null" >
        #{errContent,jdbcType=VARCHAR},
      </if>
      <if test="rightContent != null" >
        #{rightContent,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteByUser" parameterType="java.lang.String" >
    delete from result
    where userName = #{userName,jdbcType=VARCHAR}
  </delete>
  <select id="selectResultsByUser" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from result
    where userName = #{userName,jdbcType=VARCHAR}
  </select>
</mapper>